*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header{
    display: flex;
    justify-content: flex-start;
    background-color: black;
    padding: 10px;
    margin-bottom: 40px;
}

#btn{
    width: 100px;
    height: 100px;
    background-color: red;
    font-size: 40px;
}

.note{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: light;
    border: 2px solid black;
    resize: both;
    overflow: hidden;
}
#container{
    margin: 0 60px;
}